@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~leaflet-loading/src/Control.Loading.css";

html, body
:root{
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top{
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}